/* LOGIN PAGE CSS */

* {
    padding: 0;
    margin: 0;
}

.loginPage {
    background-image: url("/static/img/loginBG.svg"), url("/static/img/greenbg.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
    height: 100vh;
}

.loginPageWrapper {
    padding: 3em;
}

.loginPageWrapperHeader {
    padding-left: 5em;
    
}

h4 {
    font-family: 'Now', sans-serif !important;
    font-weight: 700;
    font-size: 25pt;
    color: white;
}

.loginMainScreen {
    display: flex;
    flex-direction: row;
}

.loginPageImage{
    position: relative;
    width: 50em;
    padding-left: 8em;
}

.loginPageImage img {
    width: 34em;
}

.loginPageScreen{
    background-color: green;
}

/* LOGIN PAGE SCREEN DIALOG */

.loginScreenBox {
    padding-left: 3em;
}

.loginScreenBox .row {
    margin-bottom: 0 !important;
}

.loginScreenBox form {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Now', sans-serif;
    font-size: 13pt;
}

.loginScreenBoxDialog {
    background-color: white;
    width: 30em;
    height: 30em;
    border-radius: 20px;
}

.loginDialogHeaderGrid {
    display: grid;
    background-color: #d9d9d9;
    grid-template-columns: auto auto;
    border-radius: 15px 15px 0 0;
}

.loginDialogGridItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em;
    font-family: 'Now', sans-serif !important;
    font-weight: 700;
    font-size: 14pt;
}

.loginScreenBoxBottom {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginDialogLabel {
    font-family: 'Now', sans-serif !important;
    font-weight: 700;
    font-size: 14pt !important;
    color: black !important;
}

.loginBtn {
    border-radius: 5px;
    font-family: 'Now', sans-serif !important;
    font-weight: 700;
    font-size: 13pt !important;
    text-transform: capitalize !important;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=text].valid,
.input-field input[type=password].valid {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}


.loginContainerHandler {
    display: flex;
    align-items: center;
    overflow:hidden;
    transition: 1.25s;
    position: relative;
    height: 21em;
}

.facultyLoginContainer {
    position: absolute;
    padding-top: 3em;
    width: 100%;
    height: 100%;
    background-color: white;
}

.studentLoginContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: white;
}

.isHidden {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    transition: 1s;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.loginSwitchLinks {
    color: black;
    text-decoration: none;
}

.isSelected {
    text-decoration: underline !important;
}


/* END OF LOGIN PAGE */
/* REGISTER PAGE CSS */
.registerPage {
    background-color: #2d9817;
    height: 100vh;
}

.registerPageWrapperHeader {
    display: flex;
    width: 100%;
    background-color: #1c4114;
    padding-left: 3em;
}

.registerPageWrapper h4 {
    font-size: 15pt;
}

.registerPageWrapperMainScreen {
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    height: 100%;
}

.registerPageWrapperTitle {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

.registerPageWrapperTitle h4 {
    font-size: 20pt;
}

.registerPageWrapperDialog {
    background-color: white;
    margin-top: 1em;
    width: 100%;
    height: 35em;
    padding: 3em;
    border-radius: 3em;
}

.registerDialogLabel {
    font-family: 'Now', sans-serif !important;
    font-weight: 700;
    font-size: 16pt !important;
    color: black !important;
}

.registerMainScreenBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*END OF REGISTER PAGE*/