.cfcf {
    background-color: #1d4214;
    font-weight: bold;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    max-height: auto;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 0;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .image {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
 